
# Importando Bibliotecas

In [308]:
import pandas as pd
import numpy as np
import os # para acessar o diretorio e acessar os arquivos
import zipfile
import warnings
warnings.filterwarnings("ignore")

# Carregando Dados do PIB

In [4]:
#Carregando o primeiro arquivo PIB das cidades 

dir = 'C:/Users/rodri/Documents/GitHub/TCC_MBA/TCC_MBA_Modelo_Predicao_Passagens_Aereas/base_dados/PIB/raw/base_de_dados_2002_2009_xls.zip'
zip_file = zipfile.ZipFile(dir,'r')
xlfile = zip_file.open('PIB dos Municípios - base de dados 2002-2009.xls')
df_pib_02_09 = pd.read_excel(xlfile)
df_pib_02_09.shape

(44501, 40)

In [6]:
#Carregando o segundo arquivo PIB das cidades 

dir = 'C:/Users/rodri/Documents/GitHub/TCC_MBA/TCC_MBA_Modelo_Predicao_Passagens_Aereas/base_dados/PIB/raw/base_de_dados_2010_2021_xlsx.zip'
zip_file = zipfile.ZipFile(dir,'r')
xlfile = zip_file.open('PIB dos Municípios - base de dados 2010-2021.xlsx')
df_pib_10_21 = pd.read_excel(xlfile)
df_pib_10_21.shape

(66825, 43)

## Unindo os dois datasets

In [7]:
df_pib = pd.concat([df_pib_02_09,df_pib_10_21])
df_pib.shape

(111326, 43)

## Deletando Colunas Desnecessárias

In [8]:
colunas_ficam = ['Ano', 
       'Sigla da Unidade da Federação', 'Nome da Unidade da Federação',
       'Nome do Município',
       'Valor adicionado bruto da Agropecuária, /na preços correntes/n(R$ 1.000)',
       'Valor adicionado bruto da Indústria,/na preços correntes/n(R$ 1.000)',
       'Valor adicionado bruto dos Serviços,/na preços correntes /n- exceto Administração, defesa, educação e saúde públicas e seguridade social/n(R$ 1.000)',
       'Valor adicionado bruto da Administração, defesa, educação e saúde públicas e seguridade social, /na preços correntes/n(R$ 1.000)',
       'Valor adicionado bruto total, /na preços correntes/n(R$ 1.000)',
       'Impostos, líquidos de subsídios, sobre produtos, /na preços correntes/n(R$ 1.000)',
       'Produto Interno Bruto, /na preços correntes/n(R$ 1.000)',
       'Produto Interno Bruto per capita, /na preços correntes/n(R$ 1,00)']

In [9]:

colunas_todas = ['Ano', 'Código da Grande Região', 'Nome da Grande Região',
       'Código da Unidade da Federação', 'Sigla da Unidade da Federação',
       'Nome da Unidade da Federação', 'Código do Município',
       'Nome do Município', 'Região Metropolitana', 'Código da Mesorregião',
       'Nome da Mesorregião', 'Código da Microrregião', 'Nome da Microrregião',
       'Código da Região Geográfica Imediata',
       'Nome da Região Geográfica Imediata',
       'Município da Região Geográfica Imediata',
       'Código da Região Geográfica Intermediária',
       'Nome da Região Geográfica Intermediária',
       'Município da Região Geográfica Intermediária',
       'Código Concentração Urbana', 'Nome Concentração Urbana',
       'Tipo Concentração Urbana', 'Código Arranjo Populacional',
       'Nome Arranjo Populacional', 'Hierarquia Urbana',
       'Hierarquia Urbana (principais categorias)', 'Código da Região Rural',
       'Nome da Região Rural',
       'Região rural (segundo classificação do núcleo)', 'Amazônia Legal',
       'Semiárido', 'Cidade-Região de São Paulo',
       'Valor adicionado bruto da Agropecuária, /na preços correntes/n(R$ 1.000)',
       'Valor adicionado bruto da Indústria,/na preços correntes/n(R$ 1.000)',
       'Valor adicionado bruto dos Serviços,/na preços correntes /n- exceto Administração, defesa, educação e saúde públicas e seguridade social/n(R$ 1.000)',
       'Valor adicionado bruto da Administração, defesa, educação e saúde públicas e seguridade social, /na preços correntes/n(R$ 1.000)',
       'Valor adicionado bruto total, /na preços correntes/n(R$ 1.000)',
       'Impostos, líquidos de subsídios, sobre produtos, /na preços correntes/n(R$ 1.000)',
       'Produto Interno Bruto, /na preços correntes/n(R$ 1.000)',
       'Produto Interno Bruto per capita, /na preços correntes/n(R$ 1,00)',
       'Atividade com maior valor adicionado bruto',
       'Atividade com segundo maior valor adicionado bruto',
       'Atividade com terceiro maior valor adicionado bruto']

In [10]:
# Deletando as colunas desnecessárias

colunas_saem = list(set(colunas_todas) - set(colunas_ficam))
df_pib.drop(columns=colunas_saem, inplace= True)

df_pib.shape

(111326, 12)

## Renomeando as Colunas

In [11]:
colunas_renomeadas =  [ 'Ano',
       'Nome_UF',
       'Cod_Cidade',
       'Nome_Cidade',
       'Valor_Agropecuaria',
       'Valor_Industria',
       'Valor_Servicos',
       'Governo',
       'Total',
       'Impostos',
       'PIB',
       'PIB_per_capita']

In [12]:
type(colunas_renomeadas)

list

In [13]:
df_pib.columns = colunas_renomeadas

df_pib.head(5)

,Ano,Nome_UF,Cod_Cidade,Nome_Cidade,Valor_Agropecuaria,Valor_Industria,Valor_Servicos,Governo,Total,Impostos,PIB,PIB_per_capita
0,2002,RO,Rondônia,Alta Floresta D'Oeste,27013.223,9376.871,24651.113,42700.523,103741.729,7549.266,111290.995,4047.83
1,2002,RO,Rondônia,Ariquemes,28590.178,99922.936,161851.549,116562.182,406926.845,42665.972,449592.816,5667.37
2,2002,RO,Rondônia,Cabixi,10883.801,1961.907,5128.876,11925.001,29899.585,1867.935,31767.520,4246.99
3,2002,RO,Rondônia,Cacoal,32810.376,98292.764,175748.703,117968.303,424820.146,49622.951,474443.097,6353.27
4,2002,RO,Rondônia,Cerejeiras,11283.793,6651.475,25306.009,27731.366,70972.643,8200.971,79173.614,4442.47

# Carregando Dados das Passagens Aéreas

In [14]:
# defindo o caminho

dir_name = 'C:/Users/rodri/Documents/GitHub/TCC_MBA/TCC_MBA_Modelo_Predicao_Passagens_Aereas/base_dados/PassagensAereas/raw'

### Carregando a lista com o nome dos arquivos.

In [15]:
lista_arquivos = []

for arq in os.listdir(dir_name): # Este For, é para coletar
  if arq.endswith(".CSV"):       # todos os nomes dos arquivos 
    lista_arquivos.append(arq)   # na pasta com formato csv

len(lista_arquivos)

252

In [16]:
# Separando a lista em sub listas

n = 4

sub_lista_arquivos = [lista_arquivos[i::n] for i in range(n)]

len(sub_lista_arquivos[0])

63

In [17]:
#Separando as Listas para leitura 

lista_teste_0 = sub_lista_arquivos[0]

lista_teste_01 = sub_lista_arquivos[1]

lista_teste_02 = sub_lista_arquivos[2]

lista_teste_03 = sub_lista_arquivos[3]

## Carregando os Arquivos em Datasets

In [18]:
dt_passagens_0 = pd.DataFrame()

for arq in lista_teste_0:
    nome_arquivo = "//" + arq
    nome_df = pd.read_csv(dir_name+nome_arquivo,
                        sep = ';',
                        encoding='latin1',
                        header=0,
                        names=['Ano','Mes','Empresa','Origem',
                               'Destino','Tarifa','Assentos'] )
    dt_passagens_0 = pd.concat([dt_passagens_0,nome_df])


dt_passagens_0.shape

(14022521, 7)

In [19]:
dt_passagens_01 = pd.DataFrame()

for arq in lista_teste_01:
    nome_arquivo = "//" + arq
    nome_df = pd.read_csv(dir_name+nome_arquivo,
                        sep = ';',
                        encoding='latin1',
                        header=0,
                        names=['Ano','Mes','Empresa','Origem',
                               'Destino','Tarifa','Assentos'] )
    dt_passagens_01 = pd.concat([dt_passagens_01,nome_df])

dt_passagens_01.shape

(13649939, 7)

In [20]:
dt_passagens_02 = pd.DataFrame()

for arq in lista_teste_02:
    nome_arquivo = "//" + arq
    nome_df = pd.read_csv(dir_name+nome_arquivo,
                        sep = ';',
                        encoding='latin1',
                        header=0,
                        names=['Ano','Mes','Empresa','Origem',
                               'Destino','Tarifa','Assentos'] )
    dt_passagens_02 = pd.concat([dt_passagens_02,nome_df])
    
dt_passagens_02.shape

(14479724, 7)

In [21]:
dt_passagens_03 = pd.DataFrame()

for arq in lista_teste_03:
    nome_arquivo = "//" + arq
    nome_df = pd.read_csv(dir_name+nome_arquivo,
                        sep = ';',
                        encoding='latin1',
                        header=0,
                        names=['Ano','Mes','Empresa','Origem',
                               'Destino','Tarifa','Assentos'] )
    dt_passagens_03 = pd.concat([dt_passagens_03,nome_df])

dt_passagens_03.shape

(13139468, 7)

## Unindo os Datasets das Passagens Aéreas

In [22]:
dt_passagens = pd.DataFrame()

dt_passagens = pd.concat([dt_passagens,dt_passagens_0,dt_passagens_01,dt_passagens_02,dt_passagens_03])

dt_passagens.shape

(55291652, 7)

In [23]:
# Deletando variaveis
del dt_passagens_0,dt_passagens_01,dt_passagens_02,dt_passagens_03, df_pib_02_09, df_pib_10_21

In [24]:
dt_passagens.tail()

         Ano  Mes Empresa Origem Destino   Tarifa  Assentos
331370  2022   12     TAM   SWSI    SBVT   837,00         1
331371  2022   12     TAM   SWSI    SBVT  1395,00         1
331372  2022   12     TAM   SWSI    SBVT  1813,90         1
331373  2022   12     TAM   SWSI    SBVT  1866,00         1
331374  2022   12     TAM   SWSI    SBVT  1935,90         1

## Salvando os arquivos em parquet

In [27]:
#Salvando base de dados PIB em parquet

df_pib.to_parquet(
                path = 'C:/Users/rodri/Documents/GitHub/TCC_MLaaS_PIB_ANAC/base_dados/PIB/BaseDados_PIB_2009_2021.parquet.gzip',
                  engine = 'pyarrow',
                  compression='gzip')

In [29]:
# Salvando base de dados Passagens em parquet


dt_passagens.to_parquet(path = 'C:/Users/rodri/Documents/GitHub/TCC_MLaaS_PIB_ANAC/base_dados/PassagensAereas/BaseDados_PassagensAereas.parquet.gzip',                        
                        engine='pyarrow',
                        compression='gzip')

# Carregando Dados dos Aeródromos Brasileiros.

Pistas destinadas para pouso e decolagem das aeronaves.

In [287]:
df_pista = pd.read_csv('C:/Users/rodri/Documents/GitHub/TCC_MLaaS_PIB_ANAC/base_dados/Aerodromos/raw/cadastro-de-aerodromos-civis-publicos.csv',
                 encoding= 'utf-8',sep=';',
                 header=1)
df_pista.shape

(500, 54)

## Deletando as Colunas Desnecessárias.

In [288]:
pista_lista = list(df_pista.columns) # Coletando todas as pistas

pista_fica = ['CÓDIGO OACI',   # Selecionando as colunas a serem mantidas.
 'CIAD',
 'NOME',
 'MUNICÍPIO ATENDIDO',
 'UF']

pista_sai = list(set(pista_lista) - set(pista_fica) ) # Realizando a Filtragem

df_pista.drop(columns=pista_sai,
              inplace=True)

df_pista.shape

(500, 5)

In [289]:

df_pista['Tipo'] = 'Publico'

In [290]:
df_pista_privada = pd.read_csv('C:/Users/rodri/Documents/GitHub/TCC_MLaaS_PIB_ANAC/base_dados/Aerodromos/raw/AerodromosPrivados.csv',
                               encoding = 'latin-1',
                               sep=',')

df_pista_privada.shape

(4821, 23)

In [291]:
df_pista_privada['Tipo'] = 'Privado'

In [292]:
# Deletando as colunas desnecessárias.

pista_lista = list(df_pista_privada.columns) # Coletando todas as pistas


pista_fica = ['Código OACI',   # Selecionando as colunas a serem mantidas.
 'CIAD',
 'Nome',
 'Município',
 'UF',
 'Tipo']

pista_sai = list(set(pista_lista) - set(pista_fica) ) # Realizando a Filtragem

df_pista_privada.drop(columns=pista_sai,
              inplace=True)

df_pista_privada.head(3)

  Código OACI    CIAD                 Nome  Município  UF     Tipo
0         NaN  MS0711  FAZENDA CORDILHEIRA    MIRANDA  MS  Privado
1        SDQU  PI0016     Fazenda Colorado  BOM JESUS  PI  Privado
2        SJKB  MT0190     Fazenda Adelaide  BRASNORTE  MT  Privado

In [293]:
# Renomeando colunas para unificar os dois datasets.

pista_fica = ['Código OACI',   # Selecionando as colunas a serem mantidas.
 'CIAD',
 'Nome',
 'Município',
 'UF',
 'Tipo']

df_pista.columns = pista_fica # Renomeando as colunas

df_pista.columns

Index(['Código OACI', 'CIAD', 'Nome', 'Município', 'UF', 'Tipo'], dtype='object')

## Unificando os Datasets

In [294]:
# Unificando os datasets pistas.

df_pista = pd.concat([df_pista,df_pista_privada])

df_pista.shape

(5321, 6)

## Renomeando as Colunas

In [295]:
pista_fica = ['OACI',   # Selecionando as colunas a serem mantidas.
 'CIAD',
 'Nome',
 'Municipio',
 'UF',
 'Tipo']

df_pista.columns = pista_fica

df_pista.columns

Index(['OACI', 'CIAD', 'Nome', 'Municipio', 'UF', 'Tipo'], dtype='object')

## Valores Nulos

In [296]:
# Verificando os valores nulos.

df_pista.isna().sum()

OACI         1413
CIAD            0
Nome            0
Municipio     215
UF            215
Tipo            0
dtype: int64

O código OACI é a sigla dos aeroportos privados ou públicos, sem ele, não é possível rastrear os aeroportos. Por este motivo, os que estão em branco, serão deletados.

In [297]:
# Deletando os valores nulos coluna OACI.

df_pista = df_pista.dropna(subset=['OACI'])

df_pista.shape

(3908, 6)

In [298]:
# Identificando as colunas Municipio e UF que estão em brancos.

df_pista[df_pista.UF.isna() ==True]

      OACI    CIAD               Nome Municipio   UF     Tipo
527   SIBE  CE0032        Marina Park       NaN  NaN  Privado
530   SIPC  SC0059     Canto da Praia       NaN  NaN  Privado
1349  SJXY  RJ0122      Pirata's Mall       NaN  NaN  Privado
1402  SINB  SP0531            Tubarão       NaN  NaN  Privado
2959  SNYD  RJ0333    Ilha dos Sonhos       NaN  NaN  Privado
2996  SIVA  RJ0092     Ilha do Cavaco       NaN  NaN  Privado
4021  SIFB  RJ0075  Sítio Canhanheiro       NaN  NaN  Privado

### Substituindo Valores Nulos

In [300]:
# Criando um dicionário para alimentar as linhas vazias nos municípios e estados.

dic_cidade = {'SIBE':'FORTALEZA','SIPC':'ITAPEMA','SJXY':'ANGRA DOS REIS','SINB':'ILHABELA','SNYD':'ANGRA DOS REIS','SIVA':'ANGRA DOS REIS','SIFB':'PARATY'}

dic_uf = {'SIBE':'CE','SIPC':'SC','SJXY':'RJ','SINB':'SP','SNYD':'RJ','SIVA':'RJ','SIFB':'RJ'}

In [302]:
# Substituindo os valores nulos com base no OACI.

df_pista['Municipio'] = df_pista['Municipio'].fillna(df_pista['OACI'].map(dic_cidade)) # Municipios 

df_pista['UF'] = df_pista['UF'].fillna(df_pista['OACI'].map(dic_uf))  # Estados

In [303]:
# Conferindo se os valores nulos foram preenchidos.

df_pista.isna().sum()

OACI         0
CIAD         0
Nome         0
Municipio    0
UF           0
Tipo         0
dtype: int64

## Salvando Dataset

In [306]:
# Salvando o dataset em csv

df_pista.to_csv('C:/Users/rodri/Documents/GitHub/TCC_MLaaS_PIB_ANAC/base_dados/Aerodromos/Base_Pistas.csv',
                index=False)