
# Importando Bibliotecas

In [1]:
import pandas as pd
import numpy as np
import os # para acessar o diretorio e acessar os arquivos
import zipfile
import p
import warnings
warnings.filterwarnings("ignore")

# Carregando Dados do PIB

In [4]:
#Carregando o primeiro arquivo PIB das cidades 

dir = 'C:/Users/rodri/Documents/GitHub/TCC_MBA/TCC_MBA_Modelo_Predicao_Passagens_Aereas/base_dados/PIB/raw/base_de_dados_2002_2009_xls.zip'
zip_file = zipfile.ZipFile(dir,'r')
xlfile = zip_file.open('PIB dos Municípios - base de dados 2002-2009.xls')
df_pib_02_09 = pd.read_excel(xlfile)
df_pib_02_09.shape

(44501, 40)

In [6]:
#Carregando o segundo arquivo PIB das cidades 

dir = 'C:/Users/rodri/Documents/GitHub/TCC_MBA/TCC_MBA_Modelo_Predicao_Passagens_Aereas/base_dados/PIB/raw/base_de_dados_2010_2021_xlsx.zip'
zip_file = zipfile.ZipFile(dir,'r')
xlfile = zip_file.open('PIB dos Municípios - base de dados 2010-2021.xlsx')
df_pib_10_21 = pd.read_excel(xlfile)
df_pib_10_21.shape

(66825, 43)

## Unindo os dois datasets
agora com os dois arquivos carregados, chegou na etapa de unificá-los

In [7]:
df_pib = pd.concat([df_pib_02_09,df_pib_10_21])
df_pib.shape

(111326, 43)

## Filtrando as colunas que serão deletadas.

In [8]:
colunas_ficam = ['Ano', 
       'Sigla da Unidade da Federação', 'Nome da Unidade da Federação',
       'Nome do Município',
       'Valor adicionado bruto da Agropecuária, /na preços correntes/n(R$ 1.000)',
       'Valor adicionado bruto da Indústria,/na preços correntes/n(R$ 1.000)',
       'Valor adicionado bruto dos Serviços,/na preços correntes /n- exceto Administração, defesa, educação e saúde públicas e seguridade social/n(R$ 1.000)',
       'Valor adicionado bruto da Administração, defesa, educação e saúde públicas e seguridade social, /na preços correntes/n(R$ 1.000)',
       'Valor adicionado bruto total, /na preços correntes/n(R$ 1.000)',
       'Impostos, líquidos de subsídios, sobre produtos, /na preços correntes/n(R$ 1.000)',
       'Produto Interno Bruto, /na preços correntes/n(R$ 1.000)',
       'Produto Interno Bruto per capita, /na preços correntes/n(R$ 1,00)']

In [9]:

colunas_todas = ['Ano', 'Código da Grande Região', 'Nome da Grande Região',
       'Código da Unidade da Federação', 'Sigla da Unidade da Federação',
       'Nome da Unidade da Federação', 'Código do Município',
       'Nome do Município', 'Região Metropolitana', 'Código da Mesorregião',
       'Nome da Mesorregião', 'Código da Microrregião', 'Nome da Microrregião',
       'Código da Região Geográfica Imediata',
       'Nome da Região Geográfica Imediata',
       'Município da Região Geográfica Imediata',
       'Código da Região Geográfica Intermediária',
       'Nome da Região Geográfica Intermediária',
       'Município da Região Geográfica Intermediária',
       'Código Concentração Urbana', 'Nome Concentração Urbana',
       'Tipo Concentração Urbana', 'Código Arranjo Populacional',
       'Nome Arranjo Populacional', 'Hierarquia Urbana',
       'Hierarquia Urbana (principais categorias)', 'Código da Região Rural',
       'Nome da Região Rural',
       'Região rural (segundo classificação do núcleo)', 'Amazônia Legal',
       'Semiárido', 'Cidade-Região de São Paulo',
       'Valor adicionado bruto da Agropecuária, /na preços correntes/n(R$ 1.000)',
       'Valor adicionado bruto da Indústria,/na preços correntes/n(R$ 1.000)',
       'Valor adicionado bruto dos Serviços,/na preços correntes /n- exceto Administração, defesa, educação e saúde públicas e seguridade social/n(R$ 1.000)',
       'Valor adicionado bruto da Administração, defesa, educação e saúde públicas e seguridade social, /na preços correntes/n(R$ 1.000)',
       'Valor adicionado bruto total, /na preços correntes/n(R$ 1.000)',
       'Impostos, líquidos de subsídios, sobre produtos, /na preços correntes/n(R$ 1.000)',
       'Produto Interno Bruto, /na preços correntes/n(R$ 1.000)',
       'Produto Interno Bruto per capita, /na preços correntes/n(R$ 1,00)',
       'Atividade com maior valor adicionado bruto',
       'Atividade com segundo maior valor adicionado bruto',
       'Atividade com terceiro maior valor adicionado bruto']

In [10]:
# Deletando as colunas desnecessárias

colunas_saem = list(set(colunas_todas) - set(colunas_ficam))
df_pib.drop(columns=colunas_saem, inplace= True)

df_pib.shape

(111326, 12)

## Renomeando as colunas

In [11]:
colunas_renomeadas =  [ 'Ano',
       'Nome_UF',
       'Cod_Cidade',
       'Nome_Cidade',
       'Valor_Agropecuaria',
       'Valor_Industria',
       'Valor_Servicos',
       'Governo',
       'Total',
       'Impostos',
       'PIB',
       'PIB_per_capita']

In [12]:
type(colunas_renomeadas)

list

In [13]:
df_pib.columns = colunas_renomeadas

df_pib.head(5)

,Ano,Nome_UF,Cod_Cidade,Nome_Cidade,Valor_Agropecuaria,Valor_Industria,Valor_Servicos,Governo,Total,Impostos,PIB,PIB_per_capita
0,2002,RO,Rondônia,Alta Floresta D'Oeste,27013.223,9376.871,24651.113,42700.523,103741.729,7549.266,111290.995,4047.83
1,2002,RO,Rondônia,Ariquemes,28590.178,99922.936,161851.549,116562.182,406926.845,42665.972,449592.816,5667.37
2,2002,RO,Rondônia,Cabixi,10883.801,1961.907,5128.876,11925.001,29899.585,1867.935,31767.520,4246.99
3,2002,RO,Rondônia,Cacoal,32810.376,98292.764,175748.703,117968.303,424820.146,49622.951,474443.097,6353.27
4,2002,RO,Rondônia,Cerejeiras,11283.793,6651.475,25306.009,27731.366,70972.643,8200.971,79173.614,4442.47

# Carregando os dados das Passagens Aéreas

In [14]:
# defindo o caminho

dir_name = 'C:/Users/rodri/Documents/GitHub/TCC_MBA/TCC_MBA_Modelo_Predicao_Passagens_Aereas/base_dados/PassagensAereas/raw'

## Unindo as bases de dados das Passagens Aéreas

In [15]:
lista_arquivos = []

for arq in os.listdir(dir_name):
  if arq.endswith(".CSV"):
    lista_arquivos.append(arq)

len(lista_arquivos)

252

In [16]:
n = 4

sub_lista_arquivos = [lista_arquivos[i::n] for i in range(n)]

len(sub_lista_arquivos[0])

63

In [17]:
#Separando as Listas para leitura 

lista_teste_0 = sub_lista_arquivos[0]

lista_teste_01 = sub_lista_arquivos[1]

lista_teste_02 = sub_lista_arquivos[2]

lista_teste_03 = sub_lista_arquivos[3]

In [18]:
dt_passagens_0 = pd.DataFrame()

for arq in lista_teste_0:
    nome_arquivo = "//" + arq
    nome_df = pd.read_csv(dir_name+nome_arquivo,
                        sep = ';',
                        encoding='latin1',
                        header=0,
                        names=['Ano','Mes','Empresa','Origem',
                               'Destino','Tarifa','Assentos'] )
    dt_passagens_0 = pd.concat([dt_passagens_0,nome_df])


dt_passagens_0.shape

(14022521, 7)

In [19]:
dt_passagens_01 = pd.DataFrame()

for arq in lista_teste_01:
    nome_arquivo = "//" + arq
    nome_df = pd.read_csv(dir_name+nome_arquivo,
                        sep = ';',
                        encoding='latin1',
                        header=0,
                        names=['Ano','Mes','Empresa','Origem',
                               'Destino','Tarifa','Assentos'] )
    dt_passagens_01 = pd.concat([dt_passagens_01,nome_df])

dt_passagens_01.shape

(13649939, 7)

In [20]:
dt_passagens_02 = pd.DataFrame()

for arq in lista_teste_02:
    nome_arquivo = "//" + arq
    nome_df = pd.read_csv(dir_name+nome_arquivo,
                        sep = ';',
                        encoding='latin1',
                        header=0,
                        names=['Ano','Mes','Empresa','Origem',
                               'Destino','Tarifa','Assentos'] )
    dt_passagens_02 = pd.concat([dt_passagens_02,nome_df])
    
dt_passagens_02.shape

(14479724, 7)

In [21]:
dt_passagens_03 = pd.DataFrame()

for arq in lista_teste_03:
    nome_arquivo = "//" + arq
    nome_df = pd.read_csv(dir_name+nome_arquivo,
                        sep = ';',
                        encoding='latin1',
                        header=0,
                        names=['Ano','Mes','Empresa','Origem',
                               'Destino','Tarifa','Assentos'] )
    dt_passagens_03 = pd.concat([dt_passagens_03,nome_df])

dt_passagens_03.shape

(13139468, 7)

## Unificando em um único dataset

In [22]:
dt_passagens = pd.DataFrame()

dt_passagens = pd.concat([dt_passagens,dt_passagens_0,dt_passagens_01,dt_passagens_02,dt_passagens_03])

dt_passagens.shape

(55291652, 7)

In [23]:
# Deletando variaveis
del dt_passagens_0,dt_passagens_01,dt_passagens_02,dt_passagens_03, df_pib_02_09, df_pib_10_21

In [24]:
dt_passagens.tail()

         Ano  Mes Empresa Origem Destino   Tarifa  Assentos
331370  2022   12     TAM   SWSI    SBVT   837,00         1
331371  2022   12     TAM   SWSI    SBVT  1395,00         1
331372  2022   12     TAM   SWSI    SBVT  1813,90         1
331373  2022   12     TAM   SWSI    SBVT  1866,00         1
331374  2022   12     TAM   SWSI    SBVT  1935,90         1

## Salvando os arquivos em parquet

In [27]:
#Salvando base de dados PIB em parquet

df_pib.to_parquet(
                path = 'C:/Users/rodri/Documents/GitHub/TCC_MLaaS_PIB_ANAC/base_dados/PIB/BaseDados_PIB_2009_2021.parquet.gzip',
                  engine = 'pyarrow',
                  compression='gzip')

In [ ]:
#Salvando base de dados Passagens em parquet


# dt_passagens.to_parquet(path = 'C:/Users/rodri/Documents/GitHub/TCC_MBA/TCC_MBA_Modelo_Predicao_Passagens_Aereas/base_dados/PassagensAereas/BaseDados_PassagensAereas.parquet.gzip',                        
#                         engine='pyarrow',
#                         compression='gzip')